.card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/decks/neapolitan.jpg');
    background-size: 1000%;
    border: 1px solid black;
    border-radius: 5% / 2.91665%;
    aspect-ratio: 0.58333;
    margin: .5em;
    width: 100px;
    box-shadow: 0 0 1rem #00000066;

    span {
        background-color: #fff;
        padding: .2em;
        border: 1px solid #ddd;
        border-radius: .2em;
        box-shadow: #00000022 .2em .2em .4em;
        display: none;
        color: #000;
    }

    &.covered {
        background-image: url('../../assets/backs/neapolitan.jpg');
        background-size: 100%;
    }

    &.selected {
        border-color: #ff0;
        box-shadow: #ff0 0 0 .4em;
    }

    &:hover span {
        display: initial;
    }

}

.c1 { background-position-x: 0; }
.c2 { background-position-x: 11.11111%; }
.c3 { background-position-x: 22.22222%; }
.c4 { background-position-x: 33.33333%; }
.c5 { background-position-x: 44.44444%; }
.c6 { background-position-x: 55.55555%; }
.c7 { background-position-x: 66.66666%; }
.c8 { background-position-x: 77.77777%; }
.c9 { background-position-x: 88.88888%; }
.c10 { background-position-x: 100%; }

.cgolds { background-position-y: 0%; }
.ccups { background-position-y: 33%; }
.cclubs { background-position-y: 66%; }
.cswords { background-position-y: 100%; }