Hero action deck:
<ng-container *ngIf="(status$ | async )=== 'COMBAT'">

<app-selectable-deck
    [deck]="deck"
    [selectedDeck]="selectedDeck"
    (selectCards)="onSelect($event)"
></app-selectable-deck>
<button
    *ngFor="let suit of selectedCardSuits"
    [disabled]="disabledPlay"
    type="button"
    (click)="onPlay(suit)"
>{{ getButton(suit) }}</button>
<button
    *ngIf="!deck.length"
    [disabled]="disabledPlay"
    type="button"
    (click)="onPlay()"
>{{ getButton() }}</button>

</ng-container>