<div *ngIf="error$ | async as error">Error: <samp>{{ error | json }}</samp></div>

<ng-container *ngIf="status$ | async as status">
<ng-container *ngIf="goldSelectedDeck$ | async as goldSelectedDeck">
<ng-container *ngIf="heroActionSelectedDeck$ | async as heroActionSelected">
<ng-container *ngIf="aidSelectedDeck$ | async as aidSelectedDeck">

    <div class="board">

        <!-- 1 - Dungeon Deck -->
        <div class="dungeon slot" *ngIf="dungeonDeck$ | async as dungeon">
            <div class="heading">
                <div>Dungeon deck</div>
                <div>{{ dungeon.length }}</div>
            </div>
            <div class="body">
                <app-deck [deck]="dungeon" [cover]="true"></app-deck>
            </div>
            <div class="footer">
                <button type="button" [disabled]="!showDraw(status)" (click)="onDraw()">Draw</button>
            </div>
        </div>

        <!-- 2 - Event Card -->
        <div class="event slot">
            <div class="heading">
                <div>Event card</div>
            </div>
            <div class="body" *ngIf="eventCard$ | async as event">
                <app-card [card]="event"></app-card>
            </div>
            <div class="footer" *ngIf="eventCard$ | async as event">
                <button type="button" *ngIf="showCollect(status, event)" (click)="onCollect()">Collect</button>
                <button type="button" *ngIf="showDice(status, event)" (click)="onDice()">Dice</button>
                <button type="button" *ngIf="showDiceOk(status)" (click)="onDiceOk()">Got a {{ dice$ | async }}</button>
                <button type="button" *ngIf="showSpend(status, event)" [disabled]="disableSpend(event, goldSelectedDeck)" (click)="onSpend()">Bribe</button>
                <button type="button" *ngIf="showCombat(status, event)" (click)="onCombat()">Combat</button>
            </div>
        </div>

        <div class="slot"></div>

        <!-- 3 - Character Deck -->
        <div class="character slot" *ngIf="characterDeck$ | async as character">
            <div class="heading">
                <div>Character deck</div>
                <div>{{ character.length }}</div>
            </div>
            <div class="body">
                <app-deck [deck]="character" [cover]="true"></app-deck>
            </div>
        </div>

        <!-- 4 - Catacomb -->
        <div class="catacomb slot" *ngIf="catacombDeck$ | async as catacomb">
            <div class="heading">
                <div>Catacomb</div>
                <div>{{ catacomb.length }}</div>
            </div>
            <div class="body">
                <app-deck [deck]="catacomb"></app-deck>
            </div>
        </div>

        <div class="slot"></div>
        
        <!-- 5 - Enemy -->
        <div class="enemy slot">
            <div class="heading">
                <div>Enemy</div>
            </div>
            <div class="body" *ngIf="enemy$ | async as enemy">
                <app-character [character]="enemy"></app-character>
                <button *ngIf="showRevealOk(status)" type="button" (click)="onRevealedOk()">Ok</button>
            </div>
        </div>

        <!-- EAC - Enemy Action Card -->
        <div class="enemy-action slot" *ngIf="enemyActions$ | async as enemyAction">
            <div class="heading">
                <div>Enemy action cards</div>
            </div>
            <div class="body">
                <app-deck [deck]="enemyAction"></app-deck>
            </div>
        </div>

        <div class="slot"></div>
        <div class="slot"></div>

        <!-- 6 - Relics Obtained (Cards are arranged horizontally) -->
        <div class="obtained-relic slot" *ngIf="obtainedRelicDeck$ | async as obtainedRelic">
            <div class="heading">
                <div>Your relics</div>
                <div>{{ obtainedRelic.length }}</div>
            </div>
            <div class="body">
                <app-deck [deck]="obtainedRelic"></app-deck>
            </div>
        </div>

        <!-- 7 - Hero -->
        <div class="hero slot" *ngIf="hero$ | async as hero">
            <div class="heading">
                <div>The hero</div>
            </div>
            <div class="body">
                <app-character [character]="hero"></app-character>
            </div>
        </div>

        <!-- HAC - Hero Action Card -->
        <div class="hero-action slot" *ngIf="getHeroActionToPlay(status) | async as heroAction">
            <div class="heading">
                <div>Your actions</div>
            </div>
            <div class="body">
                <app-hero-action-deck *ngIf="showPlay(status)" [deck]="heroAction" [selectedDeck]="heroActionSelected" [aidSelected]="aidSelectedDeck" (play)="onPlay($event)" (selectCards)="onHeroActionSelect($event)"></app-hero-action-deck>
            </div>
        </div>

        <!-- HAC - Hero Action Card (select cards to keep or discard) -->
        <div class="hero-action slot" *ngIf="getHeroActionToDiscard(status) | async as heroAction">
            <div class="heading">
                <div>Select actions to keep, then click continue</div>
            </div>
            <div class="body">
                <app-selectable-deck [deck]="heroAction" [selectedDeck]="heroActionSelected" (selectCards)="onHeroActionSelect($event)"></app-selectable-deck>
            </div>
            <div class="footer">
                <button type="button" (click)="onKeep()">Continue</button>
            </div>
        </div>

        <div class="slot"></div>
        <div class="slot"></div>

        <!-- 8 - Gold (Cards are arranged horizontally) -->
        <div class="gold slot" *ngIf="goldDeck$ | async as gold">
            <div class="heading">
                <div>Gold</div>
                <div>{{ gold.length }}</div>
            </div>
            <div class="body">
                <app-selectable-deck [deck]="gold" [selectedDeck]="goldSelectedDeck" (selectCards)="onGoldSelect($event)"></app-selectable-deck>
            </div>
        </div>

        <!-- 9 - Aid (Cards are arranged vertically) -->
        <div class="aid slot" *ngIf="aidDeck$ | async as aid">
            <div class="heading">
                <div>Aid</div>
                <div>{{ aid.length }}</div>
            </div>
            <div class="body">
                <app-aid-deck [deck]="aid" [enable]="showPlay(status)" [actionSelected]="heroActionSelected" [selectedDeck]="aidSelectedDeck" (selectCards)="onAidSelect($event)"></app-aid-deck>
            </div>
        </div>

        <div class="slot"></div>
        <div class="slot"></div>

        <!-- 10 - Relic Deck (Cards are arranged vertically) -->
        <div class="relic slot" *ngIf="relicDeck$ | async as relic">
            <div class="heading">
                <div>Relics</div>
                <div>{{ relic.length }}</div>
            </div>
            <div class="body">
                <app-deck [deck]="relic"></app-deck>
            </div>
        </div>
    </div>

</ng-container> <!-- aidSelectedDeck -->
</ng-container> <!-- heroActionSelected -->
</ng-container> <!-- goldSelected -->
</ng-container> <!-- status -->