<table border="1">

    <tr>
        <td>
            <!-- 1 - Dungeon Deck -->

        </td>

        <td>
            <!-- 2 - Event Card -->

        </td>

        <td>
            <!-- 3 - Character Deck -->

        </td>

        <td>
            <!-- Empty -->
        </td>

        <td>
            <!-- 4 - Catacomb -->

        </td>
    </tr>

    <tr>
        <td>
            <!-- Empty -->
        </td>

        <td>
            <!-- 5 - Enemy -->

        </td>

        <td>
            <!-- EAC - Enemy Action Card -->

        </td>

        <td>
            <!-- EAC - Enemy Action Card -->

        </td>

        <td>
            <!-- EAC - Enemy Action Card -->

        </td>
    </tr>

    <tr>
        <td>
            <!-- 6 - Relics Obtained (Cards are arranged horizontally) -->

        </td>

        <td>
            <!-- 7 - Hero -->

        </td>

        <td>
            <!-- HAC - Hero Action Card -->

        </td>

        <td>
            <!-- HAC - Hero Action Card -->

        </td>

        <td>
            <!-- HAC - Hero Action Card -->
            
        </td>
    </tr>

    <tr>
        <td>
            <!-- 8 - Gold (Cards are arranged horizontally) -->

        </td>

        <td>
            <!-- 9 - Aid (Cards are arranged vertically) -->

        </td>

        <td>
            <!-- Empty -->

        </td>

        <td>
            <!-- Empty -->

        </td>

        <td>
            <!-- 10 - Relic Deck (Cards are arranged vertically) -->
            
        </td>
    </tr>


</table>