.board {
    display: grid;
    grid-template-columns: repeat(5, 20%);

    .slot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid red;
        padding: .5rem;

        .heading {
            display: flex;
            justify-content: space-between;
        }

        .body {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: .5rem 0;
        }

        .footer {
            display: flex;
            justify-content: center;
        }

        &.dungeon {

        }
    }
}



table {
    border-collapse: collapse;
}

td {
    width: 20%;
    border: 1px solid #555;
    vertical-align: bottom;
}