<ng-container *ngIf="status$ | async as status">
<ng-container *ngIf="goldSelectedDeck$ | async as goldSelectedDeck">

    {{ status }}

    <div *ngIf="dice$ | async as dice">Dice: {{ dice }}</div>

    <table>

        <tr>
            <td>
                <!-- 1 - Dungeon Deck -->
                <app-deck *ngIf="dungeonDeck$ | async as deck" [deck]="deck" [cover]="true"></app-deck>
                <button type="button" [disabled]="!showDraw(status)" (click)="onDraw()">Draw</button>
            </td>

            <td>
                <!-- 2 - Event Card -->
                <ng-container *ngIf="eventCard$ | async as card">
                    <app-card [card]="card"></app-card>
                    <button type="button" *ngIf="showCollect(status, card)" (click)="onCollect()">Collect</button>
                    <button type="button" *ngIf="showDice(status, card)" (click)="onDice()">Dice</button>
                    <button type="button" *ngIf="showDiceOk(status)" (click)="onDiceOk()">Ok</button>
                    <button type="button" *ngIf="showSpend(status, card)" [disabled]="disableSpend(card, goldSelectedDeck)" (click)="onSpend()">Bribe</button>
                    <button type="button" *ngIf="showCombat(status, card)" (click)="onCombat()">Combat</button>
                </ng-container>
            </td>

            <td>
                <!-- 3 - Character Deck -->
                <app-deck *ngIf="characterDeck$ | async as deck" [deck]="deck" [cover]="true"></app-deck>
            </td>

            <td>
                <!-- Empty -->
            </td>

            <td>
                <!-- 4 - Catacomb -->
                <app-deck *ngIf="catacombDeck$ | async as deck" [deck]="deck"></app-deck>
            </td>
        </tr>

        <tr>
            <td>
                <!-- Empty -->
                &nbsp;
            </td>

            <td>
                <!-- 5 - Enemy -->
                <app-character *ngIf="enemy$ | async as character" [character]="character"></app-character>
            </td>

            <td>
                <!-- EAC - Enemy Action Card -->

            </td>

            <td>
                <!-- EAC - Enemy Action Card -->

            </td>

            <td>
                <!-- EAC - Enemy Action Card -->

            </td>
        </tr>

        <tr>
            <td>
                <!-- 6 - Relics Obtained (Cards are arranged horizontally) -->
                <app-deck *ngIf="obtainedRelicDeck$ | async as deck" [deck]="deck"></app-deck>
            </td>

            <td>
                <!-- 7 - Hero -->
                <app-character *ngIf="hero$ | async as character" [character]="character"></app-character>
            </td>

            <td>
                <!-- HAC - Hero Action Card -->

            </td>

            <td>
                <!-- HAC - Hero Action Card -->

            </td>

            <td>
                <!-- HAC - Hero Action Card -->
                
            </td>
        </tr>

        <tr>
            <td>
                <!-- 8 - Gold (Cards are arranged horizontally) -->
                <app-selectable-deck *ngIf="goldDeck$ | async as deck" [deck]="deck" [selectedDeck]="goldSelectedDeck" (selectCards)="onGoldSelect($event)"></app-selectable-deck>
            </td>

            <td>
                <!-- 9 - Aid (Cards are arranged vertically) -->
                <app-deck *ngIf="aidDeck$ | async as deck" [deck]="deck"></app-deck>
            </td>

            <td>
                <!-- Empty -->

            </td>

            <td>
                <!-- Empty -->

            </td>

            <td>
                <!-- 10 - Relic Deck (Cards are arranged vertically) -->
                <app-deck *ngIf="relicDeck$ | async as deck" [deck]="deck"></app-deck>
            </td>
        </tr>

    </table>

</ng-container> <!-- goldSelected -->
</ng-container> <!-- status -->