    @if (goldSelectedDeck$ | async; as goldSelectedDeck) {
      @if (heroActionSelectedDeck$ | async; as heroActionSelected) {
        @if (aidSelectedDeck$ | async; as aidSelectedDeck) {

<div class="board -compact">
    <!-- 1 - Dungeon Deck -->
    @if (dungeonDeck$ | async; as dungeon) {
      <div class="dungeon slot">
        <div class="heading">
          <div>Dungeon deck</div>
          <div>{{ dungeon.length }}</div>
        </div>
        <div class="body">
          <app-deck [deck]="dungeon" [cover]="true"></app-deck>
        </div>
      </div>
    }
    <!-- 2 - Event Card -->
    <div class="event slot">
      <div class="heading">
        <div>Event card</div>
      </div>
      <div class="body">
          @if (eventCard$ | async; as event) {
            <app-card [card]="event"></app-card>
          }
        </div>
        <div class="footer">
          <app-action-bar></app-action-bar>
        </div>
    </div>
    
    <!-- 3 - Character Deck -->
    @if (characterDeck$ | async; as character) {
      <div class="character slot">
        <div class="heading">
          <div>Character deck</div>
          <div>{{ character.length }}</div>
        </div>
        <div class="body">
          <app-deck [deck]="character" [cover]="true"></app-deck>
        </div>
      </div>
    }
    <!-- 4 - Catacomb -->
    @if (catacombDeck$ | async; as catacomb) {
      <div class="catacomb slot">
        <div class="heading">
          <div>Catacomb</div>
          <div>{{ catacomb.length }}</div>
        </div>
        <div class="body">
          <app-deck [deck]="catacomb"></app-deck>
        </div>
      </div>
    }
    
    <!-- 5 - Enemy -->
    <div class="enemy slot">
        @if (enemy$ | async; as enemy) {
            <div class="heading">
                <div>Enemy</div>
                <div>{{ enemy.hp }} HP</div>
            </div>
            <div class="body">
                <app-character [character]="enemy"></app-character>
            </div>
            <div class="footer">
                @if (showRevealOk(status)) {
                    <button type="button" (click)="onRevealedOk()">{{ enemy.card.value === 10 ? 'Combat' : 'Accept aid' }}</button>
                }
            </div>
        }
    </div>

    <!-- EAC - Enemy Action Card -->
    @if (enemyActions$ | async; as enemyAction) {
      <div class="enemy-action slot">
        <div class="heading">
          <div>Enemy action cards</div>
        </div>
        <div class="body">
          <app-deck [deck]="enemyAction" [cover]="true" [spread]="true"></app-deck>
        </div>
      </div>
    }

    <!-- 6 - Relics Obtained (Cards are arranged horizontally) -->
    @if (obtainedRelicDeck$ | async; as obtainedRelic) {
      <div class="obtained-relic slot">
        <div class="heading">
          <div>Your relics</div>
          <div>{{ obtainedRelic.length }}</div>
        </div>
        <div class="body">
          <app-deck [deck]="obtainedRelic" [spread]="true"></app-deck>
        </div>
      </div>
    }
    <!-- 7 - Hero -->
    <div class="hero slot">
        @if (hero$ | async; as hero) {
            <div class="heading">
                <div>The hero</div>
                <div>{{ hero.hp }} HP</div>
            </div>
            <div class="body">
                <app-character [character]="hero"></app-character>
            </div>
        }
    </div>
    <!-- HAC - Hero Action Card -->
    @if (getHeroActionToPlay(status) | async; as heroAction) {
      <div class="hero-action slot">
        <div class="heading">
          <div>Your actions</div>
        </div>
        <div class="body">
          @if (showPlay(status)) {
            <app-hero-action-deck [deck]="heroAction" [selectedDeck]="heroActionSelected" [aidSelected]="aidSelectedDeck" (play)="onPlay($event)" (selectCards)="onHeroActionSelect($event)"></app-hero-action-deck>
          }
        </div>
      </div>
    }
    <!-- HAC - Hero Action Card (select cards to keep or discard) -->
    @if (getHeroActionToDiscard(status) | async; as heroAction) {
      <div class="hero-action slot">
        <div class="heading">
          <div>Select actions to keep, then click continue</div>
        </div>
        <div class="body">
          <app-selectable-deck [deck]="heroAction" [selectedDeck]="heroActionSelected" (selectCards)="onHeroActionSelect($event)"></app-selectable-deck>
        </div>
        <div class="footer">
          <button type="button" (click)="onKeep()">Continue</button>
        </div>
      </div>
    }
    <!-- 8 - Gold (Cards are arranged horizontally) -->
    @if (goldDeck$ | async; as gold) {
      <div class="gold slot">
        <div class="heading">
          <div>Gold</div>
          <div>{{ gold.length }}</div>
        </div>
        <div class="body">
          <app-selectable-deck [deck]="gold" [selectedDeck]="goldSelectedDeck" (selectCards)="onGoldSelect($event)"></app-selectable-deck>
        </div>
      </div>
    }
    <!-- 9 - Aid (Cards are arranged vertically) -->
    @if (aidDeck$ | async; as aid) {
      <div class="aid slot">
        <div class="heading">
          <div>Aid</div>
          <div>{{ aid.length }}</div>
        </div>
        <div class="body">
          <app-aid-deck [deck]="aid" [enable]="showPlay(status)" [actionSelected]="heroActionSelected" [selectedDeck]="aidSelectedDeck" (selectCards)="onAidSelect($event)"></app-aid-deck>
        </div>
      </div>
    }
    
    <!-- 10 - Relic Deck (Cards are arranged vertically) -->
    @if (relicDeck$ | async; as relic) {
      <div class="relic slot">
        <div class="heading">
          <div>Relics</div>
          <div>{{ relic.length }}</div>
        </div>
        <div class="body">
          <app-deck [deck]="relic" [spread]="true"></app-deck>
        </div>
      </div>
    }
  </div>

} <!-- aidSelectedDeck -->
} <!-- heroActionSelected -->
} <!-- goldSelected -->