:root {
    --rd-bg-dark: #006600;
    --rd-menu-width: 50px;
    --rd-shadow: 0 0 1rem #000000cc;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/assets/fonts/CrimsonText-Regular.ttf') format('ttf');
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
button,
input {
    font-family: 'Crimson Text', Georgia, 'Times New Roman', Times, serif;
}

button {
    margin: .25rem;
    padding: .25em .5rem;
    font-size: 1rem;

    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .25em;
    padding: .5em;

    svg {
        vertical-align: -.125em;
        margin-right: .25em;
        width: 1em;
        height: 1em;
    }

    &:disabled {
        border-color: #bbb;
        color: #bbb;
    }

    &:hover:not(:disabled) {
        border-color: #fff;
    }
}